.numberBtns{
    width: 33.3%;
    height: 95px;
    font-size: 41px;
    background: white;

}
.clearBtn{
   width: 74.4%;
   height: 95px;
    font-size: 41px;
    background: white; 
}
.calcButtons{
    width: 100%;
    height: 95px;
    font-size: 65px;
    background-color: #A0001E;
    color: white;
}